.navbar a {
    color: #727a77 !important;
    font-weight: bolder !important;
}

.container .navbar-brand {
    font-size: 35px !important;
    font-weight: 950 !important;
    color: black !important;
}

nav {
    box-shadow: none !important;
    z-index: 6px;
    background: white;
    width: 100vw;
    padding: 0px !important;
}

.container .navbar-nav a .nav-link {
    color: #c0cec9 !important;
}

h4,
h2 {
    font-family: 'Poppins';
    font-weight: 950 !important;
}

h3 {
    font-family: 'Poppins';
    color: #818b88 !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: #9ea8a5 !important;
}


/************************              Footer        *****************************/

footer {
    background: #303e40;
}

footer img {
    width: 320px !important;
    height: 52px !important;
}

footer h2 {
    font-family: "Patua One";
    font-size: 24px;
    color: #fff;
    margin-left: 32px;
}

footer ul li {
    list-style: none;
}

.big-line {
    height: 5px;
    width: 100%;
    background: #fff;
}

hr {
    color: #fff;
    background: #fff;
}

footer .container h4,
footer .container p {
    color: white;
}

footer .container h4 {
    font-weight: bolder;
    font-family: "Patua One";
    font-size: 25px;
}

body {
    width: 100vw !important;
    overflow-x: hidden;
}

.rect {
    background: #4F6467;
    height: 350px;
}

.plus span {
    color: rgb(0, 255, 179);
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    bottom: -100px;
    transform: translate(200px, -150px);
}

.contact {
    font-size: 45px;
}

.creux,
.plein {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.creux {
    transform: translate(-90px, -70px);
    border: 3px solid #0BB9A3;
}

.plein {
    background-color: #0BB9A3;
    transform: translate(100px, -30px);
}

.input {
    display: block !important;
}

.bg-trans {
    transform: translate(0px, -100px);
    border-radius: 10px;
}

.two-input input {
    width: 100px !important;
    margin: 10px;
}

.img_equip {
    border-radius: 20px;
    width: 250px;
    height: 250px;
}


/******************* footer *******************************/

.teams-img {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.plus {
    color: rgb(0, 255, 179);
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -100px;
    font-weight: 700;
    transform: translate(480px, -120px);
}